dj-database-url==0.4.2       # Tool for parsing 12factor DATABASE_URL
peewee==2.10.2               # Lightweight ORM
peewee_migrate==0.14.0       # Migrations tool for ORM
psycopg2 == 2.7.3            # API for PostgreSQL database
python-telegram-bot == 8.1.1 # Python API for Telegram Bot
